    @media only screen and (orientation:portrait) {
        .bg-logo {
            height: 100vh;
            width: 100%;
            display: inline-table;
            z-index: 1;
            background: linear-gradient(#5dad2f, transparent), linear-gradient(to top left, #2e5a1c, transparent), linear-gradient(to top right, #214414, transparent), url('/logo/hillfinder-logo.png') center;
            background-repeat: no-repeat;
        }
    }
    
    // @media (max-width: 767px) and (orientation: landscape) {
    // }
    @media only screen and(orientation: landscape) {
        .bg-logo {
            height: 100vh;
            width: 100%;
            padding: 0;
            display: inline-table;
            z-index: 1;
            background: linear-gradient(#5dad2f, transparent), linear-gradient(to top left, #2e5a1c, transparent), linear-gradient(to top right, #214414, transparent), url('/logo/hillfinder-logo.png') center;
            background-repeat: no-repeat;
            ;
            /* Set up positioning */
        }
    }
    
    // @media (orientation: portrait) and (hover: none) and (pointer: coarse) {
    //     /* your CSS to target only landscape mobile users */
    //     .bg-logo:after {
    //         background-position: center 220px;
    //         background-size: contain;
    //     }
    // }
    // @media (orientation: landscape) and (hover: none) and (pointer: coarse) {
    //     /* your CSS to target only landscape mobile users */
    //     .bg-logo:after {
    //         background-position: center 60px;
    //         background-size: contain;
    //     }
    // }