/* main application styling */


/*headers*/

.main-heading {
    text-transform: uppercase;
    text-align: center;
    color: white;
}


/* main-container */


/* h2 headers */

h2.ui.center.aligned.header,
button.ui.inverted.button a:hover {
    color: #56ab2f;
}

.ui.inverted.menu {
    background: #80e750;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #21ba45, #469023);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #21ba45, #469023);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ui.large.inverted.pointing.secondary.menu,
.ui.inverted.vertical.center.aligned.segment,
.ui.inverted.vertical.segment,
.ui.large.top.fixed.menu {
    background: #469023;
}

button.ui.inverted.button a {
    color: #fff;
}

.ui.grid.hillfinder-container {
    padding: 0 2rem;
}

.main-container {
    padding: 3rem;
    background-color: lightblue;
}

.image-container {
    border-radius: 1rem;
    padding: 1.5rem;
}

.process {
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.process__heading {
    text-transform: uppercase;
    text-align: center;
    color: black;
}

.process__details {
    text-align: center;
}

.process__upload-btn {
    display: block;
    margin: 2.5rem auto;
    text-align: center;
}

.process__image {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
}

.main-credit {
    text-align: center;
    color: white;
    font-weight: bold;
}

input.animate-panning {
    margin-right: 0.5rem;
}


/* buttons */

.ui.large.button,
.ui.large.buttons .button,
.ui.large.buttons .or {
    background: #56ab2f;
    color: #fff;
}

.leaflet-bar.leaflet-control.remove-marker-container {
    margin-left: 0;
}


/*markers*/

@keyframes fadeIn {
    from {
        fill-opacity: 0;
    }
    to {
        fill-opacity: 0.5;
    }
}

.circle-transition {
    animation: 1s ease-out 0s 1 fadeIn;
}

.circle-transition:hover {
    fill: green;
    fill-opacity: 1;
    transition: all 1s;
}

.leaflet-bar.leaflet-control.remove-one-marker-container {
    margin: 0;
}

.leaflet-bar.leaflet-control.remove-all-markers-container {
    margin: .5% 0 0 0;
    cursor: pointer;
    background-color: #fff;
    background-size: 73%;
    height: 34px;
    width: 34px;
    text-align: center;
    .icon {
        line-height: inherit;
        margin: 0 auto;
    }
}

.remove-marker {
    background-image: url(/media/remove-marker-2x.png);
    background-size: 73%;
}

.leaflet-bar.leaflet-control.map-icon-container {
    margin-left: 0
}


/* card styles */

.ui.card>.image,
.ui.cards>.card>.image {
    height: auto;
    width: 100%;
}


/* form error messages */

.ui.error.message p {
    font-weight: 500;
    text-align: center;
}


/* confirmation page */

.ui.message.confirmation {
    height: 3.5em;
}


/* map styles */

.leaflet-container {
    height: 400px;
    width: 100%;
    margin: 2rem auto 0;
    border-radius: 0.28571429rem;
}

@media only screen and (min-width: 0px) {
    .leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
        height: 480px;
    }
}

@media only screen and (min-width: 768px) {
    .ui.grid.container {
        width: 95% !important;
    }
    .leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
        height: 600px;
    }
}

.geocoder-control-input {
    background-image: url(/media/search@2x.png);
}


/* semantic-ui overriders */

.ui.stacked.segment {
    padding-bottom: 1.5em;
}