* {
    box-sizing: border-box;
}


/*overides */

.navbar {
    border-bottom: 1px solid #386F22;
}

.footer,
.navbar,
ul.p-4.overflow-y-auto.menu.w-80.bg-base-100 {
    background-color: #4e9525;
    color: #fff;
}

ul.p-4.overflow-y-auto.menu.w-80.bg-base-100 {
    border-right: 1px solid #2e5a1c;
    background-color: #5dad2f;
}

.hero {
    color: #36454f
}

.text-center.mt-6 button:disabled,
.text-center.mt-6 button[disabled] {
    border: 1px solid #999999;
    background-color: #adadad;
    opacity: 0.8;
    color: #6f6565;
}